.player {
  display: flex;
  align-items: center;
  background-color: orange;
  width: 300px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
  }

  span {
    font-size: 2rem;
    margin-left: 0.5em;
  }
}
