.player {
  display: flex;
  align-items: center;
  background-color: rgb(168, 165, 165);
  width: 300px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
  }

  span {
    font-size: 1.5rem;
    margin-left: 0.5em;
  }
}

.player-active {
  background-color: orange !important;
}
