mat-card {
  background-color: white;
  color: black;
  min-height: 100px;
  height: fit-content;
  width: 50vw;
  padding: 1em;
  overflow-wrap: break-word;
  text-align: left;

  ::ng-deep .mat-mdc-card-content {
    padding: 0;
  }
}
